* {
    background-color: bisque;
    font-family: "Times New Roman", sans-serif;
}

.recipes {
    font-size: medium;
    font-weight: bolder;
}

.title {
    text-align: center;
}

div {
    text-align: center;
}

.pics {
    height: auto;
    width: 350px;
}